.service-card {
  width: 220px;
  background-color: #184d25;
  border-radius: 16px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
  transition: transform 0.3s;
  height: fit-content;
}

.service-card:hover {
  transform: translateY(-5px);
}

.icon-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 16px;
}

.hexagon-bg {
  width: 100%;
  height: auto;
}

.irrigation-img {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
}

.service-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.arrow {
  position: absolute;
  bottom: 16px;
  right: 16px;
  font-size: 20px;
}
